Format imel

#### Describe the desired feature/functionality
23:62:568:2
#### Additional Context (where / how would this be used)

#### Is this request related to a current issue?

#### Suggested implementation details


<p>&nbsp;</p>
<h3 style="text-align: center; color: #3f7320;"><span style="border-bottom: 4px solid #c82828;">Click here</span> to edit this text or paste your document here to&nbsp;convert&nbsp;it&nbsp;to&nbsp;HTML 😁</h3>
<!-- Comments are visible only in the source code -->
<p><img class="imageLeft" src="/ed.png" alt="Ed" /><strong>This demo allows you to test the features of this online HTML converter. <br />Type in one of the fields and see the other one changing in real&nbsp;time!</strong></p>
<p><strong>Set up the cleaning options and press <span class="redButton">▼ Clean</span></strong></p>
<p>Work with any of the text areas and see the other one changing in real time:</p>
<table class="demoTable" style="height: 54px;">
	<thead>
		<tr>
			<td><span style="color: #c82828;">Left</span>: Preview</td>
			<td><span style="color: #c82828;">Right</span>: Source code</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Preview how your document will look when published.</td>
			<td>Adjust the syntax highlighted HTML code.</td>
		</tr>
	</tbody>23:62:568:2
</table>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Check out <a target="_blank" rel="nofollow noopener" href="https://pranx.com/">Pranx.com</a> for nice online pranks.</strong></p>

<p>&nbsp;</p>
<h3 style="text-align: center; color: #3f7320;"><span style="border-bottom: 4px solid #c82828;">Click here</span> to edit this text or paste your document here to&nbsp;convert&nbsp;it&nbsp;to&nbsp;HTML 😁</h3>
<!-- Comments are visible only in the source code -->
<p><img class="imageLeft" src="/ed.png" alt="Ed" /><strong>This demo allows you to test the features of this online HTML converter. <br />Type in one of the fields and see the other one changing in real&nbsp;time!</strong></p>
<p><strong>Set up the cleaning options and press <span class="redButton">▼ Clean</span></strong></p>
<p>Work with any of the text areas and see the other one changing in real time:</p>
<table class="demoTable" style="height: 54px;">
	<thead>
		<tr>
			<td><span style="color: #c82828;">Left</span>: Preview</td>
			<td><span style="color: #c82828;">Right</span>: Source code</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Preview how your document will look when published.</td>
			<td>Adjust the syntax highlighted HTML code.</td>
		</tr>
	</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Check out <a target="_blank" rel="nofollow noopener" 127.0.0.1href="https://pranx.com/">Pranx.com</a> for nice online pranks.</strong></p>

<p>&nbsp;</p>
<h3 style="text-align: center; color: #3f7320;"><span style="border-bottom: 4px solid #c82828;">Click here</span> to edit this text or paste your document here to&nbsp;convert&nbsp;it&nbsp;to&nbsp;HTML 😁</h3>
<!-- Comments are visible only in the source code -->
<p><img class="imageLeft" src="/ed.png" alt="Ed" /><strong>This demo allows you to test the features of this online HTML converter. <br />Type in one of the fields and see the other one changing in real&nbsp;time!</strong></p>
<p><strong>Set up the cleaning options and press <span class="redButton">▼ Clean</span></strong></p>
<p>Work with any of the text areas and see the other one changing in real time:</p>
<table class="demoTable" style="height: 54px;">
	<thead>
		<tr>
			<td><span style="color: #c82828;">Left</span>: Preview</td>
			<td><span style="color: #c82828;">Right</span>: Source code</td>
		</tr>
	</thead>
	<tbody>IETF Logo
  
RFP for RFC Production Center Tools Modernisation BA/PM services
IETF Executive Director <exec-director@ietf.org> Fri, 07 January 2022 18:20 UTC[Hide header](https://mailarchive.ietf.org/arch/msg/ietf-announce/WzXfqSHpZ2q9C9yKHVFCTAwLNmw/#)

Return-Path: <exec-director@ietf.org>
X-Original-To: ietf-announce@ietf.org
Delivered-To: ietf-announce@ietfa.amsl.com
Received: from ietfa.amsl.com (localhost [IPv6:::1]) by ietfa.amsl.com (Postfix) with ESMTP id BD2C33A10CE; Fri, 7 Jan 2022 10:20:23 -0800 (PST)
MIME-Version: 1.0
Content-Type: text/plain; charset="utf-8"
Content-Transfer-Encoding: 7bit
From: IETF Executive Director <exec-director@ietf.org>
To: RFP Announcement List <rfp-announce@ietf.org>
Cc: ietf-announce@ietf.org
Subject: RFP for RFC Production Center Tools Modernisation BA/PM services
X-Test-IDTracker: no
X-IETF-IDTracker: 7.41.0
Auto-Submitted: auto-generated
Precedence: bulk
Reply-To: ietf-rfps@ietf.org
Message-ID: <164157962368.26731.911572168164911249@ietfa.amsl.com>
Date: Fri, 07 Jan 2022 10:20:23 -0800
Archived-At: <https://mailarchive.ietf.org/arch/msg/ietf-announce/WzXfqSHpZ2q9C9yKHVFCTAwLNmw>
X-BeenThere: ietf-announce@ietf.org
X-Mailman-Version: 2.1.29
List-Id: "IETF announcement list. No discussions." <ietf-announce.ietf.org>
List-Unsubscribe: <https://www.ietf.org/mailman/options/ietf-announce>, <mailto:ietf-announce-request@ietf.org?subject=unsubscribe>
List-Archive: <https://mailarchive.ietf.org/arch/browse/ietf-announce/>
List-Post: <mailto:ietf-announce@ietf.org>
List-Help: <mailto:ietf-announce-request@ietf.org?subject=help>
List-Subscribe: <https://www.ietf.org/mailman/listinfo/ietf-announce>, <mailto:ietf-announce-request@ietf.org?subject=subscribe>
X-List-Received-Date: Fri, 07 Jan 2022 18:20:24 -0000
The IETF Administration LLC is soliciting bids for the 'RFC Production Center Tools Modernisation BA/PM services' RFP.  

Overview:

The RFC Production Center (RPC) is responsible for editing, processing and publishing RFCs, a role which has grown in scale and complexity over the last twenty years.  The tools used by the RPC have grown organically over that time, including common open source tools, some tools written in house and many contributed by community volunteers.  At the core there is a database application, written some years ago and adapted a number of times since, that tracks the status of the documents.  The documents themselves are stored and edited as files on a shared filesystem.  Editing is carried out using Emacs and the files processed using a wide range of command line scripts written in different languages by a variety of people using different development methodologies.  This current toolchain is at or beyond end of life, particularly with the recent move to XML as the authoritative format for RFCs, and needs a complete replacement with a new toolchain that supports the editing, processing and publishing from end to end.  

A business analyst/project manager is sought to work with the RPC (this will include occasional travel to Northern California) to enable them to make an informed decision on the nature of the new toolchain, document their requirements, assist with an RFP for a vendor to deliver a new toolchain (if required), and to manage the implementation. This project is expected to take two years and the vendor is required to manage this process until completion.  

The term BA/PM is used to indicate that both skill sets are required.  This project could be delivered by a single individual, a company with multiple staff, or a consortium of individuals.  It is expected that delivering this project will require the equivalent of a half time role for one person for two years. This RFP has a maximum budget of $300,000 in total, inclusive of all travel and expenses.  



Timeline:

7 January 2022		RFP Issued
21 January 2022		Questions and Inquiries deadline
28 January 2022		Answers to questions issued and RFP updated if required
4 February 2022		Bids due
18 February 2022	Preferred bidder selected and negotiations begin
4 March 2022		Contract execution and work begins


Full details of the RFP, including instructions on how to submit a bid and how to ask questions, can be found at https://www.ietf.org/about/administration/rfps-and-contracts/.

Please note that in order to maintain a fair and transparent RFP process, all questions or feedback regarding this RFP should be made to the email address specified in the RFP.

-- 
Jay Daley
IETF Executive Director
[exec-director@ietf.org](mailto:exec-director@ietf.org)

[RFP for RFC Production Center Tools Modernisation…](https://mailarchive.ietf.org/arch/msg/ietf-announce/WzXfqSHpZ2q9C9yKHVFCTAwLNmw/)  IETF Executive Director
[Hide Navigation Bar](https://mailarchive.ietf.org/arch/msg/ietf-announce/WzXfqSHpZ2q9C9yKHVFCTAwLNmw/#)
 
v2.18.0 | [Report a Bug](https://github.com/ietf-tools/mailarch/issues) | [By Email](mailto:django-project@ietf.org)
		<tr>
			<td>Preview how your document will look when published.</td>
			<td>Adjust the syntax highlighted HTML code.</td>
		</tr>
	</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Check out <a target="_blank" rel="nofollow noopener" href="https://pranx.com/">Pranx.com</a> for nice online pranks.</strong></p>

IETF Logo
  
RFP for RFC Production Center Tools Modernisation BA/PM services
IETF Executive Director <exec-director@ietf.org> Fri, 07 January 2022 18:20 UTC[Hide header](https://mailarchive.ietf.org/arch/msg/ietf-announce/WzXfqSHpZ2q9C9yKHVFCTAwLNmw/#)

Return-Path: <exec-director@ietf.org>
X-Original-To: ietf-announce@ietf.org
Delivered-To: ietf-announce@ietfa.amsl.com
Received: from ietfa.amsl.com (localhost [IPv6:::1]) by ietfa.amsl.com (Postfix) with ESMTP id BD2C33A10CE; Fri, 7 Jan 2022 10:20:23 -0800 (PST)

  | draft-ietf-tls-tlsflags-11.txt |   | draft-ietf-tls-tlsflags-12.txt |  
-- | -- | -- | -- | --
  |   |   |   |  whois.com
[LOGIN](https://shop.whois.com/login.php)
[SIGN UP](https://shop.whois.com/login.php?action=signup)
[DOMAINS](javascript:;)
[WEBSITE](javascript:;)
[CLOUD](javascript:;)
[HOSTING](javascript:;)
[SERVERS](javascript:;)
[EMAIL](javascript:;)
[SECURITY](javascript:;)
[WHOIS](https://www.whois.com/whois/)
[SUPPORT](javascript:;)
[0](https://shop.whois.com/checkout.php)
yahoo.com
Updated 4 days ago
Domain Information
Domain:yahoo.com
Registrar:MarkMonitor Inc.
Registered On:1995-01-18
Expires On:2024-01-19
Updated On:2023-02-03
Status:clientDeleteProhibited
clientTransferProhibited
clientUpdateProhibited
serverDeleteProhibited
serverTransferProhibited
serverUpdateProhibited
Name Servers:ns1.yahoo.com
ns2.yahoo.com
ns3.yahoo.com
ns4.yahoo.com
ns5.yahoo.com
Registrant Contact
Organization:Yahoo Assets LLC
State:VA
Country:US
Email:Select Request Email Form at https://domains.markmonitor.com/whois/yahoo.com
Administrative Contact
Organization:Yahoo Assets LLC
State:VA
Country:US
Email:Select Request Email Form at https://domains.markmonitor.com/whois/yahoo.com
Technical Contact
Organization:Yahoo Assets LLC
State:VA
Country:US
Email:Select Request Email Form at https://domains.markmonitor.com/whois/yahoo.com
Raw Whois Data
Domain Name: yahoo.com
Registry Domain ID: 3643624_DOMAIN_COM-VRSN
Registrar WHOIS Server: whois.markmonitor.com
Registrar URL: http://www.markmonitor.com
Updated Date: 2023-02-03T17:55:31+0000
Creation Date: 1995-01-18T08:00:00+0000
Registrar Registration Expiration Date: 2024-01-19T00:00:00+0000
Registrar: MarkMonitor, Inc.
Registrar IANA ID: 292
Registrar Abuse Contact Email: email@markmonitor.com
Registrar Abuse Contact Phone: +1.2086851750
Domain Status: clientUpdateProhibited (https://www.icann.org/epp#clientUpdateProhibited)
Domain Status: clientTransferProhibited (https://www.icann.org/epp#clientTransferProhibited)
Domain Status: clientDeleteProhibited (https://www.icann.org/epp#clientDeleteProhibited)
Domain Status: serverUpdateProhibited (https://www.icann.org/epp#serverUpdateProhibited)
Domain Status: serverTransferProhibited (https://www.icann.org/epp#serverTransferProhibited)
Domain Status: serverDeleteProhibited (https://www.icann.org/epp#serverDeleteProhibited)
Registrant Organization: Yahoo Assets LLC
Registrant State/Province: VA
Registrant Country: US
Registrant Email: Select Request Email Form at https://domains.markmonitor.com/whois/yahoo.com
Admin Organization: Yahoo Assets LLC
Admin State/Province: VA
Admin Country: US
Admin Email: Select Request Email Form at https://domains.markmonitor.com/whois/yahoo.com
Tech Organization: Yahoo Assets LLC
Tech State/Province: VA
Tech Country: US
Tech Email: Select Request Email Form at https://domains.markmonitor.com/whois/yahoo.com
Name Server: ns2.yahoo.com
Name Server: ns1.yahoo.com
Name Server: ns3.yahoo.com
Name Server: ns5.yahoo.com
Name Server: ns4.yahoo.com
DNSSEC: unsigned
URL of the ICANN WHOIS Data Problem Reporting System: http://wdprs.internic.net/
>>> Last update of WHOIS database: 2023-07-19T14:35:56+0000 <<<

For more information on WHOIS status codes, please visit:
  https://www.icann.org/resources/pages/epp-status-codes

If you wish to contact this domain’s Registrant, Administrative, or Technical
contact, and such email address is not visible above, you may do so via our web
form, pursuant to ICANN’s Temporary Specification. To verify that you are not a
robot, please enter your email address to receive a link to a page that
facilitates email communication with the relevant contact(s).

Web-based WHOIS:
  https://domains.markmonitor.com/whois

If you have a legitimate interest in viewing the non-public WHOIS details, send
your request and the reasons for your request to email@markmonitor.com
and specify the domain name in the subject line. We will review that request and
may ask for supporting documentation and explanation.

The data in MarkMonitor’s WHOIS database is provided for information purposes,
and to assist persons in obtaining information about or related to a domain
name’s registration record. While MarkMonitor believes the data to be accurate,
the data is provided "as is" with no guarantee or warranties regarding its
accuracy.

By submitting a WHOIS query, you agree that you will use this data only for
lawful purposes and that, under no circumstances will you use this data to:
  (1) allow, enable, or otherwise support the transmission by email, telephone,
or facsimile of mass, unsolicited, commercial advertising, or spam; or
  (2) enable high volume, automated, or electronic processes that send queries,
data, or email to MarkMonitor (or its systems) or the domain name contacts (or
its systems).

MarkMonitor reserves the right to modify these terms at any time.

By submitting this query, you agree to abide by this policy.

MarkMonitor Domain Management(TM)
Protecting companies and consumers in a digital world.

Visit MarkMonitor at https://www.markmonitor.com
Contact us at +1.8007459229
In Europe, at +44.02032062220
--
Interested in similar domains?
yahoough.com[Buy Now](javascript:purchaseDomain('Yahoough.com','suggest');)
yahoero.com[Buy Now](javascript:purchaseDomain('Yahoero.com','suggest');)
smartyahoo.com[Buy Now](javascript:purchaseDomain('SmartYahoo.com','suggest');)
yahooclothing.com[Buy Now](javascript:purchaseDomain('YahooClothing.com','suggest');)
yahoogames.net[Buy Now](javascript:purchaseDomain('YahooGames.net','suggest');)
yahooapp.net[Buy Now](javascript:purchaseDomain('YahooApp.net','suggest');)
.space
$24.88 $0.88
[BUY NOW](https://shop.whois.com/domains/space)

*while stocks last
 
[On Sale!](https://shop.whois.com/domain-registration/offers)
.fun
[.FUN @ $1.88 $23.88](https://shop.whois.com/domain-registration/index.php?tld=fun)
 WordPress Hosting
related domain names
[markmonitor.com](https://www.whois.com/whois/markmonitor.com)[icann.org](https://www.whois.com/whois/icann.org)[internic.net](https://www.whois.com/whois/internic.net)
[View Knowledge Base](https://manage.whois.com/kb) | [Contact Support](https://shop.whois.com/support/contact-us.php)
Copyright © Whois.com. All rights reserved
[Legal Agreement](https://shop.whois.com/support/legal.php)[Privacy Policy](https://shop.whois.com/privacy/privacy)whois.com
LOGIN
SIGN UP
DOMAINS
WEBSITE
CLOUD
HOSTING
SERVERS
EMAIL
SECURITY
WHOIS
SUPPORT
0
yahoo.com
Updated 4 days ago
Domain Information
Domain:yahoo.com
Registrar:MarkMonitor Inc.
Registered On:1995-01-18
Expires On:2024-01-19
Updated On:2023-02-03
Status:clientDeleteProhibited
clientTransferProhibited
clientUpdateProhibited
serverDeleteProhibited
serverTransferProhibited
serverUpdateProhibited
Name Servers:ns1.yahoo.com
ns2.yahoo.com
ns3.yahoo.com
ns4.yahoo.com
ns5.yahoo.com
Registrant Contact
Organization:Yahoo Assets LLC
State:VA
Country:US
Email:Select Request Email Form at https://domains.markmonitor.com/whois/yahoo.com
Administrative Contact
Organization:Yahoo Assets LLC
State:VA
Country:US
Email:Select Request Email Form at https://domains.markmonitor.com/whois/yahoo.com
Technical Contact
Organization:Yahoo Assets LLC
State:VA
Country:US
Email:Select Request Email Form at https://domains.markmonitor.com/whois/yahoo.com
Raw Whois Data
Domain Name: yahoo.com
Registry Domain ID: 3643624_DOMAIN_COM-VRSN
Registrar WHOIS Server: whois.markmonitor.com
Registrar URL: http://www.markmonitor.com
Updated Date: 2023-02-03T17:55:31+0000
Creation Date: 1995-01-18T08:00:00+0000
Registrar Registration Expiration Date: 2024-01-19T00:00:00+0000
Registrar: MarkMonitor, Inc.
Registrar IANA ID: 292
Registrar Abuse Contact Email: email@markmonitor.com
Registrar Abuse Contact Phone: +1.2086851750
Domain Status: clientUpdateProhibited (https://www.icann.org/epp#clientUpdateProhibited)
Domain Status: clientTransferProhibited (https://www.icann.org/epp#clientTransferProhibited)
Domain Status: clientDeleteProhibited (https://www.icann.org/epp#clientDeleteProhibited)
Domain Status: serverUpdateProhibited (https://www.icann.org/epp#serverUpdateProhibited)
Domain Status: serverTransferProhibited (https://www.icann.org/epp#serverTransferProhibited)
Domain Status: serverDeleteProhibited (https://www.icann.org/epp#serverDeleteProhibited)
Registrant Organization: Yahoo Assets LLC
Registrant State/Province: VA
Registrant Country: US
Registrant Email: Select Request Email Form at https://domains.markmonitor.com/whois/yahoo.com
Admin Organization: Yahoo Assets LLC
Admin State/Province: VA
Admin Country: US
Admin Email: Select Request Email Form at https://domains.markmonitor.com/whois/yahoo.com
Tech Organization: Yahoo Assets LLC
Tech State/Province: VA
Tech Country: US
Tech Email: Select Request Email Form at https://domains.markmonitor.com/whois/yahoo.com
Name Server: ns2.yahoo.com
Name Server: ns1.yahoo.com
Name Server: ns3.yahoo.com
Name Server: ns5.yahoo.com
Name Server: ns4.yahoo.com
DNSSEC: unsigned
URL of the ICANN WHOIS Data Problem Reporting System: http://wdprs.internic.net/
>>> Last update of WHOIS database: 2023-07-19T14:35:56+0000 <<<

For more information on WHOIS status codes, please visit:
  https://www.icann.org/resources/pages/epp-status-codes

If you wish to contact this domain’s Registrant, Administrative, or Technical
contact, and such email address is not visible above, you may do so via our web
form, pursuant to ICANN’s Temporary Specification. To verify that you are not a
robot, please enter your email address to receive a link to a page that
facilitates email communication with the relevant contact(s).

Web-based WHOIS:
  https://domains.markmonitor.com/whois

If you have a legitimate interest in viewing the non-public WHOIS details, send
your request and the reasons for your request to email@markmonitor.com
and specify the domain name in the subject line. We will review that request and
may ask for supporting documentation and explanation.

The data in MarkMonitor’s WHOIS database is provided for information purposes,
and to assist persons in obtaining information about or related to a domain
name’s registration record. While MarkMonitor believes the data to be accurate,
the data is provided "as is" with no guarantee or warranties regarding its
accuracy.

By submitting a WHOIS query, you agree that you will use this data only for
lawful purposes and that, under no circumstances will you use this data to:
  (1) allow, enable, or otherwise support the transmission by email, telephone,
or facsimile of mass, unsolicited, commercial advertising, or spam; or
  (2) enable high volume, automated, or electronic processes that send queries,
data, or email to MarkMonitor (or its systems) or the domain name contacts (or
its systems).

MarkMonitor reserves the right to modify these terms at any time.

By submitting this query, you agree to abide by this policy.

MarkMonitor Domain Management(TM)
Protecting companies and consumers in a digital world.

Visit MarkMonitor at https://www.markmonitor.com
Contact us at +1.8007459229
In Europe, at +44.02032062220
--
Interested in similar domains?
yahoough.comBuy Now
yahoero.comBuy Now
smartyahoo.comBuy Now
yahooclothing.comBuy Now
yahoogames.netBuy Now
yahooapp.netBuy Now
.space
$24.88 $0.88
BUY NOW

*while stocks last
 
On Sale!
.fun
.FUN @ $1.88 $23.88
 WordPress Hosting
related domain names
markmonitor.comicann.orginternic.net
View Knowledge Base | Contact Support
Copyright © Whois.com. All rights reserved
Legal AgreementPrivacy Policy<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>

</body>
</html>

  | TLS                                                               Y. Nir |   | TLS                                                               Y. Nir |  
  | Internet-Draft                                         Dell Technologies |   | Internet-Draft                                         Dell Technologies |  
 
  | Intended status: Standards Track                         27 January 2023 |   | Intended status: Standards Track                            23 July 2023 |  
  | Expires: 31 July 2023 |   | Expires: 24 January 2024 |  
  |   |   |   |  
  | A Flags Extension for TLS 1.3 |   | A Flags Extension for TLS 1.3 |  
 
  | draft-ietf-tls-tlsflags-11 |   | draft-ietf-tls-tlsflags-12 |  
  |   |   |   |  
  | Abstract |   | Abstract |  
  |   |   |   |  
  | A number of extensions are proposed in the TLS working group that |   | A number of extensions are proposed in the TLS working group that |  
  | carry no interesting information except the 1-bit indication that a |   | carry no interesting information except the 1-bit indication that a |  
  | certain optional feature is supported.  Such extensions take 4 octets |   | certain optional feature is supported.  Such extensions take 4 octets |  
  | each.  This document defines a flags extension that can provide such |   | each.  This document defines a flags extension that can provide such |  
  | indications at an average marginal cost of 1 bit each.  More |   | indications at an average marginal cost of 1 bit each.  More |  
  | precisely, it provides as many flag extensions as needed at 4 + the |   | precisely, it provides as many flag extensions as needed at 4 + the |  
  | order of the last set bit divided by 8. |   | order of the last set bit divided by 8. |  
  |   |   |   |  
  |  
  | Internet-Drafts are working documents of the Internet Engineering |   | Internet-Drafts are working documents of the Internet Engineering |  
  | Task Force (IETF).  Note that other groups may also distribute |   | Task Force (IETF).  Note that other groups may also distribute |  
  | working documents as Internet-Drafts.  The list of current Internet- |   | working documents as Internet-Drafts.  The list of current Internet- |  
  | Drafts is at https://datatracker.ietf.org/drafts/current/. |   | Drafts is at https://datatracker.ietf.org/drafts/current/. |  
  |   |   |   |  
  | Internet-Drafts are draft documents valid for a maximum of six months |   | Internet-Drafts are draft documents valid for a maximum of six months |  
  | and may be updated, replaced, or obsoleted by other documents at any |   | and may be updated, replaced, or obsoleted by other documents at any |  
  | time.  It is inappropriate to use Internet-Drafts as reference |   | time.  It is inappropriate to use Internet-Drafts as reference |  
  | material or to cite them other than as "work in progress." |   | material or to cite them other than as "work in progress." |  
  |   |   |   |  
 
  | This Internet-Draft will expire on 31 July 2023. |   | This Internet-Draft will expire on 24 January 2024. |  
  |   |   |   |  
  | Copyright Notice |   | Copyright Notice |  
  |   |   |   |  
  | Copyright (c) 2023 IETF Trust and the persons identified as the |   | Copyright (c) 2023 IETF Trust and the persons identified as the |  
  | document authors.  All rights reserved. |   | document authors.  All rights reserved. |  
  |   |   |   |  
  | This document is subject to BCP 78 and the IETF Trust's Legal |   | This document is subject to BCP 78 and the IETF Trust's Legal |  
  | Provisions Relating to IETF Documents (https://trustee.ietf.org/ |   | Provisions Relating to IETF Documents (https://trustee.ietf.org/ |  
  | license-info) in effect on the date of publication of this document. |   | license-info) in effect on the date of publication of this document. |  
  | Please review these documents carefully, as they describe your rights |   | Please review these documents carefully, as they describe your rights |  
  |   |   |   |  
  |  
  | [RFC8447]  Salowey, J. and S. Turner, "IANA Registry Updates for TLS |   | [RFC8447]  Salowey, J. and S. Turner, "IANA Registry Updates for TLS |  
  | and DTLS", RFC 8447, DOI 10.17487/RFC8447, August 2018, |   | and DTLS", RFC 8447, DOI 10.17487/RFC8447, August 2018, |  
  | <https://www.rfc-editor.org/info/rfc8447>. |   | <https://www.rfc-editor.org/info/rfc8447>. |  
  |   |   |   |  
  | 7.2.  Informative References |   | 7.2.  Informative References |  
  |   |   |   |  
  | [I-D.ietf-tls-cross-sni-resumption] |   | [I-D.ietf-tls-cross-sni-resumption] |  
  | Vasiliev, V., "Transport Layer Security (TLS) Resumption |   | Vasiliev, V., "Transport Layer Security (TLS) Resumption |  
  | across Server Names", Work in Progress, Internet-Draft, |   | across Server Names", Work in Progress, Internet-Draft, |  
  | draft-ietf-tls-cross-sni-resumption-02, 5 December 2021, |   | draft-ietf-tls-cross-sni-resumption-02, 5 December 2021, |  
 
  | <https://www.ietf.org/archive/id/draft-ietf-tls-cross-sni- |   | <https://datatracker.ietf.org/doc/html/draft-ietf-tls- |  
  | resumption-02.txt>. |   | cross-sni-resumption-02>. |  
  |   |   |   |  
  | [I-D.ietf-tls-tls13-cert-with-extern-psk] |   | [I-D.ietf-tls-tls13-cert-with-extern-psk] |  
  | Housley, R., "TLS 1.3 Extension for Certificate-Based |   | Housley, R., "TLS 1.3 Extension for Certificate-Based |  
  | Authentication with an External Pre-Shared Key", Work in |   | Authentication with an External Pre-Shared Key", Work in |  
  | Progress, Internet-Draft, draft-ietf-tls-tls13-cert-with- |   | Progress, Internet-Draft, draft-ietf-tls-tls13-cert-with- |  
  | extern-psk-07, 23 December 2019, |   | extern-psk-07, 23 December 2019, |  
 
  | <https://www.ietf.org/archive/id/draft-ietf-tls-tls13- |   | <https://datatracker.ietf.org/doc/html/draft-ietf-tls- |  
  | cert-with-extern-psk-07.txt>. |   | tls13-cert-with-extern-psk-07>. |  
  |   |   |   |  
  | [I-D.sy-tls-resumption-group] |   | [I-D.sy-tls-resumption-group] |  
  | Sy, E., "TLS Resumption across Server Name Indications for |   | Sy, E., "TLS Resumption across Server Name Indications for |  
  | TLS 1.3", Work in Progress, Internet-Draft, draft-sy-tls- |   | TLS 1.3", Work in Progress, Internet-Draft, draft-sy-tls- |  
  | resumption-group-00, 1 March 2019, |   | resumption-group-00, 1 March 2019, |  
 
  | <https://www.ietf.org/archive/id/draft-sy-tls-resumption- |   | <https://datatracker.ietf.org/doc/html/draft-sy-tls- |  
  | group-00.txt>. |   | resumption-group-00>. |  
  |   |   |   |  
  | [RFC5746]  Rescorla, E., Ray, M., Dispensa, S., and N. Oskov, |   | [RFC5746]  Rescorla, E., Ray, M., Dispensa, S., and N. Oskov, |  
  | "Transport Layer Security (TLS) Renegotiation Indication |   | "Transport Layer Security (TLS) Renegotiation Indication |  
  | Extension", RFC 5746, DOI 10.17487/RFC5746, February 2010, |   | Extension", RFC 5746, DOI 10.17487/RFC5746, February 2010, |  
  | <https://www.rfc-editor.org/info/rfc5746>. |   | <https://www.rfc-editor.org/info/rfc5746>. |  
  |   |   |   |  
  | [RFC8126]  Cotton, M., Leiba, B., and T. Narten, "Guidelines for |   | [RFC8126]  Cotton, M., Leiba, B., and T. Narten, "Guidelines for |  
  | Writing an IANA Considerations Section in RFCs", BCP 26, |   | Writing an IANA Considerations Section in RFCs", BCP 26, |  
  | RFC 8126, DOI 10.17487/RFC8126, June 2017, |   | RFC 8126, DOI 10.17487/RFC8126, June 2017, |  
  | <https://www.rfc-editor.org/info/rfc8126>. |   | <https://www.rfc-editor.org/info/rfc8126>. |  
  |   |   |   |  

  |  
This html diff was produced by rfcdiff 1.45. The latest version is available from http://tools.ietf.org/tools/rfcdiff/

draft-ietf-tls-tlsflags-11.txt 		 draft-ietf-tls-tlsflags-12.txt 	
 		
TLS                                                               Y. Nir	 	TLS                                                               Y. Nir	
Internet-Draft                                         Dell Technologies	 	Internet-Draft                                         Dell Technologies	
Intended status: Standards Track                         27 January 2023	 	Intended status: Standards Track                            23 July 2023	
Expires: 31 July 2023	 	Expires: 24 January 2024	
 		
                     A Flags Extension for TLS 1.3	 	                     A Flags Extension for TLS 1.3	
                       draft-ietf-tls-tlsflags-11	 	                       draft-ietf-tls-tlsflags-12	
 		
Abstract	 	Abstract	
 		
   A number of extensions are proposed in the TLS working group that	 	   A number of extensions are proposed in the TLS working group that	
   carry no interesting information except the 1-bit indication that a	 	   carry no interesting information except the 1-bit indication that a	
   certain optional feature is supported.  Such extensions take 4 octets	 	   certain optional feature is supported.  Such extensions take 4 octets	
   each.  This document defines a flags extension that can provide such	 	   each.  This document defines a flags extension that can provide such	
   indications at an average marginal cost of 1 bit each.  More	 	   indications at an average marginal cost of 1 bit each.  More	
   precisely, it provides as many flag extensions as needed at 4 + the	 	   precisely, it provides as many flag extensions as needed at 4 + the	
   order of the last set bit divided by 8.	 	   order of the last set bit divided by 8.	
 		
skipping to change at[ page 1, line 36](https://author-tools.ietf.org/iddiff?url2=draft-ietf-tls-tlsflags-12#part-2)		skipping to change at[ page 1, line 36](https://author-tools.ietf.org/iddiff?url2=draft-ietf-tls-tlsflags-12#part-2)	
   Internet-Drafts are working documents of the Internet Engineering	 	   Internet-Drafts are working documents of the Internet Engineering	
   Task Force (IETF).  Note that other groups may also distribute	 	   Task Force (IETF).  Note that other groups may also distribute	
   working documents as Internet-Drafts.  The list of current Internet-	 	   working documents as Internet-Drafts.  The list of current Internet-	
   Drafts is at https://datatracker.ietf.org/drafts/current/.	 	   Drafts is at https://datatracker.ietf.org/drafts/current/.	
 		
   Internet-Drafts are draft documents valid for a maximum of six months	 	   Internet-Drafts are draft documents valid for a maximum of six months	
   and may be updated, replaced, or obsoleted by other documents at any	 	   and may be updated, replaced, or obsoleted by other documents at any	
   time.  It is inappropriate to use Internet-Drafts as reference	 	   time.  It is inappropriate to use Internet-Drafts as reference	
   material or to cite them other than as "work in progress."	 	   material or to cite them other than as "work in progress."	
 		
   This Internet-Draft will expire on 31 July 2023.	 	   This Internet-Draft will expire on 24 January 2024.	
 		
Copyright Notice	 	Copyright Notice	
 		
   Copyright (c) 2023 IETF Trust and the persons identified as the	 	   Copyright (c) 2023 IETF Trust and the persons identified as the	
   document authors.  All rights reserved.	 	   document authors.  All rights reserved.	
 		
   This document is subject to BCP 78 and the IETF Trust's Legal	 	   This document is subject to BCP 78 and the IETF Trust's Legal	
   Provisions Relating to IETF Documents (https://trustee.ietf.org/	 	   Provisions Relating to IETF Documents (https://trustee.ietf.org/	
   license-info) in effect on the date of publication of this document.	 	   license-info) in effect on the date of publication of this document.	
   Please review these documents carefully, as they describe your rights	 	   Please review these documents carefully, as they describe your rights	
 		
skipping to change at[ page 8, line 9](https://author-tools.ietf.org/iddiff?url2=draft-ietf-tls-tlsflags-12#part-3)		skipping to change at[ page 8, line 9](https://author-tools.ietf.org/iddiff?url2=draft-ietf-tls-tlsflags-12#part-3)	
   [RFC8447]  Salowey, J. and S. Turner, "IANA Registry Updates for TLS	 	   [RFC8447]  Salowey, J. and S. Turner, "IANA Registry Updates for TLS	
              and DTLS", RFC 8447, DOI 10.17487/RFC8447, August 2018,	 	              and DTLS", RFC 8447, DOI 10.17487/RFC8447, August 2018,	
              <https://www.rfc-editor.org/info/rfc8447>.	 	              <https://www.rfc-editor.org/info/rfc8447>.	
 		
7.2.  Informative References	 	7.2.  Informative References	
 		
   [I-D.ietf-tls-cross-sni-resumption]	 	   [I-D.ietf-tls-cross-sni-resumption]	
              Vasiliev, V., "Transport Layer Security (TLS) Resumption	 	              Vasiliev, V., "Transport Layer Security (TLS) Resumption	
              across Server Names", Work in Progress, Internet-Draft,	 	              across Server Names", Work in Progress, Internet-Draft,	
              draft-ietf-tls-cross-sni-resumption-02, 5 December 2021,	 	              draft-ietf-tls-cross-sni-resumption-02, 5 December 2021,	
              <https://www.ietf.org/archive/id/draft-ietf-tls-cross-sni-	 	              <https://datatracker.ietf.org/doc/html/draft-ietf-tls-	
              resumption-02.txt>.	 	              cross-sni-resumption-02>.	
 		
   [I-D.ietf-tls-tls13-cert-with-extern-psk]	 	   [I-D.ietf-tls-tls13-cert-with-extern-psk]	
              Housley, R., "TLS 1.3 Extension for Certificate-Based	 	              Housley, R., "TLS 1.3 Extension for Certificate-Based	
              Authentication with an External Pre-Shared Key", Work in	 	              Authentication with an External Pre-Shared Key", Work in	
              Progress, Internet-Draft, draft-ietf-tls-tls13-cert-with-	 	              Progress, Internet-Draft, draft-ietf-tls-tls13-cert-with-	
              extern-psk-07, 23 December 2019,	 	              extern-psk-07, 23 December 2019,	
              <https://www.ietf.org/archive/id/draft-ietf-tls-tls13-	 	              <https://datatracker.ietf.org/doc/html/draft-ietf-tls-	
              cert-with-extern-psk-07.txt>.	 	              tls13-cert-with-extern-psk-07>.	
 		
   [I-D.sy-tls-resumption-group]	 	   [I-D.sy-tls-resumption-group]	
              Sy, E., "TLS Resumption across Server Name Indications for	 	              Sy, E., "TLS Resumption across Server Name Indications for	
              TLS 1.3", Work in Progress, Internet-Draft, draft-sy-tls-	 	              TLS 1.3", Work in Progress, Internet-Draft, draft-sy-tls-	
              resumption-group-00, 1 March 2019,	 	              resumption-group-00, 1 March 2019,	
              <https://www.ietf.org/archive/id/draft-sy-tls-resumption-	 	              <https://datatracker.ietf.org/doc/html/draft-sy-tls-	
              group-00.txt>.	 	              resumption-group-00>.	
 		
   [RFC5746]  Rescorla, E., Ray, M., Dispensa, S., and N. Oskov,	 	   [RFC5746]  Rescorla, E., Ray, M., Dispensa, S., and N. Oskov,	
              "Transport Layer Security (TLS) Renegotiation Indication	 	              "Transport Layer Security (TLS) Renegotiation Indication	
              Extension", RFC 5746, DOI 10.17487/RFC5746, February 2010,	 	              Extension", RFC 5746, DOI 10.17487/RFC5746, February 2010,	
              <https://www.rfc-editor.org/info/rfc5746>.	 	              <https://www.rfc-editor.org/info/rfc5746>.	
 		
   [RFC8126]  Cotton, M., Leiba, B., and T. Narten, "Guidelines for	 	   [RFC8126]  Cotton, M., Leiba, B., and T. Narten, "Guidelines for	
              Writing an IANA Considerations Section in RFCs", BCP 26,	 	              Writing an IANA Considerations Section in RFCs", BCP 26,	
              RFC 8126, DOI 10.17487/RFC8126, June 2017,	 	              RFC 8126, DOI 10.17487/RFC8126, June 2017,	
              <https://www.rfc-editor.org/info/rfc8126>.	 	              <https://www.rfc-editor.org/info/rfc8126>.	
 		
 End of changes. 6 change blocks. 
10 lines changed or deleted		10 lines changed or added	

This html diff was produced by rfcdiff 1.45. The latest version is available from [http://tools.ietf.org/tools/rfcdiff/](http://www.tools.ietf.org/tools/rfcdiff/)
MIME-Version: 1.0
Content-Type: text/plain; charset="utf-8"
Content-Transfer-Encoding: 7bit
From: IETF Executive Director <exec-director@ietf.org>
To: RFP Announcement List <rfp-announce@ietf.org>
Cc: ietf-announce@ietf.org
Subject: RFP for RFC Production Center Tools Modernisation BA/PM services
X-Test-IDTracker: no
X-IETF-IDTracker: 7.41.0
Auto-Submitted: auto-generated
Precedence: bulk
Reply-To: ietf-rfps@ietf.org
Message-ID: <164157962368.26731.911572168164911249@ietfa.amsl.com>
Date: Fri, 07 Jan 2022 10:20:23 -0800
Archived-At: <https://mailarchive.ietf.org/arch/msg/ietf-announce/WzXfqSHpZ2q9C9yKHVFCTAwLNmw>
X-BeenThere: ietf-announce@ietf.org
X-Mailman-Version: 2.1.29
List-Id: "IETF announcement list. No discussions." <ietf-announce.ietf.org>
List-Unsubscribe: <https://www.ietf.org/mailman/options/ietf-announce>, <mailto:ietf-announce-request@ietf.org?subject=unsubscribe>
List-Archive: <https://mailarchive.ietf.org/arch/browse/ietf-announce/>
List-Post: <mailto:ietf-announce@ietf.org>
List-Help: <mailto:ietf-announce-request@ietf.org?subject=help>
List-Subscribe: <https://www.ietf.org/mailman/listinfo/ietf-announce>, <mailto:ietf-announce-request@ietf.org?subject=subscribe>
X-List-Received-Date: Fri, 07 Jan 2022 18:20:24 -0000
The IETF Administration LLC is soliciting bids for the 'RFC Production Center Tools Modernisation BA/PM services' RFP.  

Overview:

The RFC Production Center (RPC) is responsible for editing, processing and publishing RFCs, a role which has grown in scale and complexity over the last twenty years.  The tools used by the RPC have grown organically over that time, including common open source tools, some tools written in house and many contributed by community volunteers.  At the core there is a database application, written some years ago and adapted a number of times since, that tracks the status of the documents.  The documents themselves are stored and edited as files on a shared filesystem.  Editing is carried out using Emacs and the files processed using a wide range of command line scripts written in different languages by a variety of people using different development methodologies.  This current toolchain is at or beyond end of life, particularly with the recent move to XML as the authoritative format for RFCs, and needs a complete replacement with a new toolchain that supports the editing, processing and publishing from end to end.  

A business analyst/project manager is sought to work with the RPC (this will include occasional travel to Northern California) to enable them to make an informed decision on the nature of the new toolchain, document their requirements, assist with an RFP for a vendor to deliver a new toolchain (if required), and to manage the implementation. This project is expected to take two years and the vendor is required to manage this process until completion.  

The term BA/PM is used to indicate that both skill sets are required.  This project could be delivered by a single individual, a company with multiple staff, or a consortium of individuals.  It is expected that delivering this project will require the equivalent of a half time role for one person for two years. This RFP has a maximum budget of $300,000 in total, inclusive of all travel and expenses.  



Timeline:

7 January 2022		RFP Issued
21 January 2022		Questions and Inquiries deadline
28 January 2022		Answers to questions issued and RFP updated if required
4 February 2022		Bids due
18 February 2022	Preferred bidder selected and negotiations begin
4 March 2022		Contract execution and work begins


Full details of the RFP, including instructions on how to submit a bid and how to ask questions, can be found at https://www.ietf.org/about/administration/rfps-and-contracts/.

Please note that in order to maintain a fair and transparent RFP process, all questions or feedback regarding this RFP should be made to the email address specified in the RFP.

-- 
Jay Daley
IETF Executive Director
[exec-director@ietf.org](mailto:exec-director@ietf.org)

[RFP for RFC Production Center Tools Modernisation…](https://mailarchive.ietf.org/arch/msg/ietf-announce/WzXfqSHpZ2q9C9yKHVFCTAwLNmw/)  IETF Executive Director
[Hide Navigation Bar](https://mailarchive.ietf.org/arch/msg/ietf-announce/WzXfqSHpZ2q9C9yKHVFCTAwLNmw/#)
 
v2.18.0 | [Report a Bug](https://github.com/ietf-tools/mailarch/issues) | [By Email](mailto:django-project@ietf.org)

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>

</body>
</html>23:62:568:2


CELLULAR.COM
Registry Domain ID: 3173914_DOMAIN_COM-VRSN
Domain Status:
clientDeleteProhibited
clientTransferProhibited
clientUpdateProhibited
Nameservers:
NS1.MYTRAFFICMANAGEMENT.COM

NS2.MYTRAFFICMANAGEMENT.COM

Dates
Registry Expiration: 2024-04-21 04:00:00 UTC
Updated: 2023-03-23 04:02:57 UTC
Created: 1998-04-22 04:00:00 UTC
Contact Information
Registrant:
Kind: individual
Mailing Address: Nevis, KN
Contact Uri: https://tieredaccess.com/contact/fefd4222-b007-481e-9af8-20ad43d85813
Redacted for privacy:
some of the data in this object has been removed
Admin:
Redacted for privacy:
some of the data in this object has been removed
Technical:
Redacted for privacy:
some of the data in this object has been removed
Billing:
Redacted for privacy:
some of the data in this object has been removed
Registrar Information
Name: TUCOWS, INC.
IANA ID: 69
Abuse contact email: domainabuse@tucows.com
Abuse contact phone: tel:+1.4165350123
Reseller {"objectClassName":"domain","handle":"3173914_DOMAIN_COM-VRSN","ldhName":"CELLULAR.COM","links":[{"value":"https:\/\/rdap.verisign.com\/com\/v1\/domain\/CELLULAR.COM","rel":"self","href":"https:\/\/rdap.verisign.com\/com\/v1\/domain\/CELLULAR.COM","type":"application\/rdap+json"},{"value":"https:\/\/opensrs.rdap.tucows.com\/domain\/CELLULAR.COM","rel":"related","href":"https:\/\/opensrs.rdap.tucows.com\/domain\/CELLULAR.COM","type":"application\/rdap+json"}],"status":["client delete prohibited","client transfer prohibited","client update prohibited"],"entities":[{"objectClassName":"entity","handle":"69","roles":["registrar"],"publicIds":[{"type":"IANA Registrar ID","identifier":"69"}],"vcardArray":["vcard",[["version",{},"text","4.0"],["fn",{},"text","Tucows Domains Inc."]]],"entities":[{"objectClassName":"entity","roles":["abuse"],"vcardArray":["vcard",[["version",{},"text","4.0"],["fn",{},"text",""],["tel",{"type":"voice"},"uri","tel:+1.4165350123"],["email",{},"text","domainabuse@tucows.com"]]]}]}],"events":[{"eventAction":"registration","eventDate":"1998-04-22T04:00:00Z"},{"eventAction":"expiration","eventDate":"2024-04-21T04:00:00Z"},{"eventAction":"last changed","eventDate":"2023-03-23T04:02:57Z"},{"eventAction":"last update of RDAP database","eventDate":"2023-07-23T19:44:30Z"}],"secureDNS":{"delegationSigned":false},"nameservers":[{"objectClassName":"nameserver","ldhName":"NS1.MYTRAFFICMANAGEMENT.COM"},{"objectClassName":"nameserver","ldhName":"NS2.MYTRAFFICMANAGEMENT.COM"}],"rdapConformance":["rdap_level_0","icann_rdap_technical_implementation_guide_0","icann_rdap_response_profile_0"],"notices":[{"title":"Terms of Use","description":["Service subject to Terms of Use."],"links":[{"href":"https:\/\/www.verisign.com\/domain-names\/registration-data-access-protocol\/terms-service\/index.xhtml","type":"text\/html"}]},{"title":"Status Codes","description":["For more information on domain status codes, please visit https:\/\/icann.org\/epp"],"links":[{"href":"https:\/\/icann.org\/epp","type":"text\/html"}]},{"title":"RDDS Inaccuracy Complaint <b> - Bold text
<strong> - Important text
<i> - Italic text
<em> - Emphasized text
<mark> - Marked text
<small> - Smaller text
<del> - Deleted text
<ins> - Inserted text
<sub> - Subscript text
<sup> - Superscript text of the ICANN RDDS Inaccuracy Complaint Form: https:\/\/icann.org\/wicf"],"links":[{"href":"https:\/\/icann.org\/wicf","type":"text\/html"}]}]}
Name: Anything.com, Ltd.
DNSSEC Information

<b> - Bold text
<strong> - Important text
<i> - Italic text
<em> - Emphasized text
<mark> - Marked text
<small> - Smaller text
<del> - Deleted text
<ins> - Inserted text
<sub> - Subscript text23:62:568:2
<sup> - Superscript text

The HTML <sub> element defines subscript text. Subscript text appears half a character below the normal line, and is sometimes rendered in a smaller font. Subscript text can be used for chemical formulas, like H2O:

Example23:62:568
<p>This is <sub>subscripted</sub> text.</p>